.avatar {
  @include flexCenter;
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  font-size: 1.8rem;
  background-color: $color-primary;
  color: $color-white;
  cursor: pointer;

  p {
    text-transform: uppercase;
  }

  @media screen and (max-width: $mobile) {
    width: 4rem;
    height: 4rem;
    font-size: 1.4rem;
  }
}
